/* inset border technique borrowed from https://css-tricks.com/body-border/ */
html {
	background-color: white;
	
}
body {
	background-color:#18cdf7;
}

header {
	background-color: #18cdf7;
}



h1 {
	background-color:#18cdf7;
	padding:5px 60px 5px 30px;
	border-radius:30px;
	text-align: left;
	margin:0;
	font-size: 39px;
}



.outline {
	background-color: rgb(181, 239, 255);
	padding:15px;
	border-radius:50px;
	width: 75%;
	min-width: 408px;
	max-height: 160.5px;
}

.inline {
	display: inline-block;
	width: 290px;
}

#toggleBtn {
	border-radius:30px;
	margin-left: 30px;
	margin-right: 20px;
	height: 50px;
	margin-top: 30px;
	background-color: rgb(53, 90, 175);	
}


h3, h4{
	background-color: rgb(181, 239, 255);
	padding: 5px 45px;
	border-radius:20px;
	text-align: center;
	align-items: center;
}



h4 {
	margin-bottom:15px;

}

#searchBtn {
	background-color: white;	
}

#searchInput{
	border: 1px gray solid;
}


.histBtn {
	position: relative;
	text-align: left;
	margin-top: 5px;
	color: white;
	background-color: rgb(53, 90, 175);
	display:inline-block;
	width:100%
}

.center {
	text-align:center;
	align-items:center;
}

.time {
	
	background-color: rgb(181, 239, 255);
	padding: 5px 45px;
	border-radius:20px;
	text-align: center;
	align-items: center;
}
.wind {
	
	background-color: rgb(235, 235, 235);
	padding: 5px 45px;
	border-radius:20px;
	text-align: center;
	align-items: center;
}

.burn {
	background-color: rgb(255, 192, 110);
	padding: 5px 20px;
	border-radius:20px;
	align-items:center;
	text-align:center;
	
	
}

.del {
	position:absolute;
	top: 0px;
	right: 0px;
	padding: 0 0 0 0;
	width: 20px;
	height: 20px;
	display: inline-flex;
	align-items: center;
}


#currentIcon, #currentIcon img {
	display: relative;
	bottom: 25px;
	right: 20px;
	width: 150px;
	height: 150px;
}

#searchCol, #currentDay, .forecast, header {
	padding: 40px;
	overflow-x: hidden; /* For Opera */
	-webkit-box-shadow:
	inset #19d4ff 0 0 0 5px,
	inset #18cdf7 0 0 0 1px,
	inset #53dfff 0 0 0 10px,
	inset #50d8f7 0 0 0 11px,
	inset #8ce9ff 0 0 0 16px,
	inset #88e2f7 0 0 0 17px,
	inset #c5f4ff 0 0 0 22px,
	inset #bfecf7 0 0 0 23px;
	-moz-box-shadow:
	inset #19d4ff 0 0 0 5px,
	inset #18cdf7 0 0 0 1px,
	inset #53dfff 0 0 0 10px,
	inset #50d8f7 0 0 0 11px,
	inset #8ce9ff 0 0 0 16px,
	inset #88e2f7 0 0 0 17px,
	inset #c5f4ff 0 0 0 22px,
	inset #bfecf7 0 0 0 23px;
	box-shadow:
	inset #19d4ff 0 0 0 5px,
	inset #18cdf7 0 0 0 1px,
	inset #53dfff 0 0 0 10px,
	inset #50d8f7 0 0 0 11px,
	inset #8ce9ff 0 0 0 16px,
	inset #88e2f7 0 0 0 17px,
	inset #c5f4ff 0 0 0 22px,
	inset #bfecf7 0 0 0 23px;
}

.forecast {
	padding: 0px;
}

#uvBlurb {
	border: 2px solid solid;
	border-radius: 4px;
	padding: 0 5px 0 5px;
}

.lowUV {
	background-color: rgb(75, 255, 75);
}

.moderateUV {
	background-color: rgb(255, 255, 4);
}

.highUV {
	background-color: orange;
}

.veryHighUV {
	background-color: rgb(255, 38, 38);
}

.extremeUV {
	background-color: rgb(255, 38, 255)
}

.forecast h4 {
	position: relative;
	top: 40px;
}

.forecast img  {
	width: 150px;
	position: relative;
}

.forecast .high, .forecast .low, .forecast .humi {
	position: relative;
	bottom: 30px;
}

.forecast > * {
	margin:0 auto;
	align-items: center;
	justify-content: center;
	color:black;
}

.forecast .col {
	margin-bottom: 50px;
}

.low {
	font-size: 26px;
	color: blue;
}

.low p, .row .low {
	padding: 0 10px;
	border-radius: 30px;
	background-color: white;
}


.humi {
	font-size: 26px;
	text-align: center;
	align-items: center;
}

.humi p {
	padding: 0 10px;
	border-radius: 30px;
	background-color: rgb(167, 235, 250);
	
}

.high p, .row .high {
	background-color: rgb(255, 232, 236);;
	padding: 0 10px;
	border-radius: 30px;
}

.high {
	font-size: 26px;
	color:red;
}

.fa-tint {
	position: relative;
	top: 2px;
}

#searchCol {
	background-color:white;
}

footer {
	margin-top: 3%;
	padding-bottom: 3%;
	text-align:center;
	font-size: 16px;
}

a {
	color:red;
}

@media screen and (max-width: 732px) {
	
	#toggleBtn {
		margin:5px;
		height:30px;
		padding-top:0px;
		
	}

	.inline {
		width:100%;
	}

	.outline {
		padding-bottom: 60px;
	}

}

@media screen and (max-width: 510px) {
/* 
	.outline {
		width: 75%;
		min-width:0px;
	} */

}

@media screen and (max-width: 510px) {

	h1 {
		min-width:300px;
		min-height: 100px
	}
	.outline { 
		min-width: 330px;
		min-height: 150px;
	}
}

@media screen and (max-width: 400px) {

	h5{
		font-size: 24 px;
		
	}

	h4 {
		font-size: 18px;
	}

	.ib .high {
		margin-left: 20px;
	}

	.row.ib {
		width:100%;
	}

	p, #currentDay .high, #currentDay .low {
		font-size:16px;
	}

}